/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ＭＳ Ｐゴシック','MS PGothic','Candara','Andale Mono','Copperplate',sans-serif;
}

.top-image {
  width:100%;
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 25px;
}

footer {
  margin-top: 100px;
}

h1 {
  font-size:220%;
  text-align: center;
}

.form-wrapper {
  position: relative;
  height: 550px;
}

.form-group {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 50%;
  text-align: center;/*一応BOX内の文字も中央寄せ*/
}

.product-image {
  padding: 20px;
  margin: 20px;
  border: solid grey 5px;
  border-radius: 8px;
}

.product-image:hover {
  border: solid red 5px;
}

.choice-product-warrper {
  display: none;
}

.choice-meirei {
  display: none;
}

.choice-product {
  width: 60%;
  margin: 0 auto 10px;
}

.createTask {
    width: 70%;
    position: relative;
    display: inline-block;
    padding: 0.75em 1em;
    text-decoration: none;
    color: #FFF;
    background: red;/*背景色*/
    border-bottom: solid 2px #8A0829;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.createTask:active {
    border-bottom: solid 2px #8A0829;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.createTask-next {
    width: 130px;
    position: relative;
    display: inline-block;
    padding: 0.75em 1em;
    text-decoration: none;
    color: #FFF;
    background: red;/*背景色*/
    border-bottom: solid 2px #8A0829;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.createTask-next:active {
    border-bottom: solid 2px #8A0829;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.createTask-button {
    width: 150px;
    position: relative;
    display: inline-block;
    padding: 0.4em 0.65em;
    text-decoration: none;
    color: red;
    background: white;/*背景色*/
    border : solid 3px red;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    font-weight: bold;
}


.createTask-nextSearch {
  display: none;
}

.navbar-default {
  background-color: #fff;
  border-bottom: 3px solid red;
}

.navbar {
  margin-bottom: 0px; 
}

.Tasks {
  border: 2px solid red;
  border-radius: 5px;
  margin:30px auto;
  width:50%;
}

.deadline {
  text-align: center;
  font-size: 120%;
}

.korewokau {
  text-align: center;
  font-size: 115%;
}

.goal {
  text-align: center;
  font-size: 170%;
  padding: 25px 0px;
  font-weight: bold; 
}

/* 商品画像のclearfix */ 
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.float-left {
  float: left;
  width: 30%;
  height: 150px;
  text-align: center;
}

.float-right {
  float: right;
  width: 70%;
  height: 150px;
  padding: 4% 3%;
  font-size: 90%;
}

.register_login {
  width:400px;
}

.task-under {
  text-align: right;
  padding-right: 5px;
  font-size:120%;
}

.task-under a {
  color:black;
}

.comment-form-wrapper {
  text-align: center;
}
.comment-form {
  width:400px;
  margin: 0 auto;
}

.comment-index {
  margin:0 auto;
  width:450px;
  margin-bottom: 10px;
  border-bottom: 3px solid red;
}

#task_goal {
  margin-bottom: 10px;
}

#task_deadline {
  width:70%;
  margin:0 auto 10px;
}

.base_btn {
    position: relative;
    display: inline-block;
    padding: 1em 4em;
    text-decoration: none;
    color: #FFF;
    background: red;/*背景色*/
    border-bottom: solid 2px #8A0829;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.base_btn:active {
    border-bottom: solid 2px #8A0829;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.base_btn-top {
    padding: 1em 10em;
    margin: 70px 0px 10px;
}

.comment-btn {
  padding: 0.75em 2em;
  margin: 10px 0;
}

.login-form {
  margin-bottom: 25px;
}

.notice {
  width:70%;
  border:3px solid blue;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
}

.notice-space {
  margin:50px 0 70px;
}

.btn-danger {
  background-color: white;
  margin-bottom:4px;
}

.comment-user {
  font-size: 130%;
}

.comment-content {
  font-size: 140%;
}

.go-show:link {
  color: black;
}

.go-show:visited {
  color: black;
}


/* メディアクエリ */
@media (max-width: 768px) {
.Tasks {
  width:98%;
}
.float-left {
  float: none;
  width: 50%;
  margin: 0 auto;
}
.float-right {
  float: none;
  width: 95%;
  height: 150px;
}

.register_login {
  width:300px;
}

.comment-form {
  width:300px;
}

.comment-index {
  width:350px;
}

#task_deadline {
  width:100%;
}

.notice {
  width:100%;
  border:2px solid blue;
}

.form-group {
  width: 100%;
}

h1 {
  font-size:160%;
}

.createTask-button {
  margin-top: 10px;
}

.title-message {
  font-size: 140%;
}

}
